body {
    background-color: #000;
    color: #fff;
}

.glass-panel {
    color: #fff;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    border-radius: 15px;
    padding: 32px;
    backdrop-filter: blur(10px);
}

.glass-button {
    display: inline-block;
    padding: 24px 20px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(95, 244, 255, 0.8);
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.glass-button:hover {
    color: rgb(16, 248, 171);
    background-color: rgba(255, 255, 255, 0.2);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.posts-content {
    color: #000;
    margin-top: 20px;
}

.ui-w-40 {
    color: #000;
    width: 40px !important;
    height: auto;
}

.default-style .ui-bordered {
    color: #000;
    border: 1px solid rgba(24, 28, 33, 0.06);
}

.ui-bg-cover {
    color: #000;
    background-color: transparent;
    background-position: center center;
    background-size: cover;
}

.ui-rect {
    color: #000;
    padding-top: 50% !important;
}

.ui-rect, .ui-rect-30, .ui-rect-60, .ui-rect-67, .ui-rect-75 {
    color: #000;
    position: relative !important;
    display: block !important;
    padding-top: 100% !important;
    width: 100% !important;
}

.d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
    color: #000;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.bg-dark {
    color: #000;
    background-color: rgba(24, 28, 33, 0.9) !important;
}

.card-footer, .card hr {
    color: #000;
    border-color: rgba(24, 28, 33, 0.06);
}

.ui-rect-content {
    color: #000;
    position: relativeç !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

.default-style .ui-bordered {
    color: #000;
    border: 1px solid rgba(24, 28, 33, 0.06);
}


/* Image uload design */
/* Courtesy: https://codepen.io/aaronvanston/pen/yNYOXR */

.file-upload {
    background-color: #000000;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #01141a;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15272c;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #001116;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #e9faff;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #000000;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #f1f1f1;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: rgb(241, 241, 241);
    background: #ad3225;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}