{% extends 'base.html' %} {% block title %} {{board}} {{board_desc}} {% endblock
title %} {% block head %}
<link rel="stylesheet" href="../static/css/form.css" />
{% endblock head %} {% block content %}

<div class="row mt-sm-5">
    <div class="col-sm-5">
        <a href="/"><img src="../static/img/logo.svg" class="center img-fluid" /></a>
    </div>
    <div class="col-sm-7 mt-3">
        <h3 class="font-weight-bold">{{board}}</h3>
        <p class="font-weight-light">{{boarddescription[0]}}</p>
    </div>
</div>

<div class="row mt-md-4">
    <div class="col-sm-12 ml-sm-5 center">
        <p class="h4 text-center d-none d-sm-block">
            Posts - View the recent posts in the {{board}} board or
        </p>
        <p class="h5 text-center">
            <a href="/b/{{board}}/createPost/" class="text-info">
                <button type="button" class="btn btn-info">Create Post</button>
            </a>
        </p>
    </div>
</div>

<!--
        POST DISPLAY BEGINS
    -->

<div class="row-sm p-1">
    {% for post in posts|reverse %}
    <div class="row p-sm-5 mt-3 border border-info rounded">
        <div class="col-sm-2 mt-2">
            <img src="{{url_for('static', filename='uploads/'+post[1])}}" class="img-thumbnail">
            <div class="row p-sm-3 mt-2 d-flex justify-content-center">
            <a href="/b/{{board}}/reply/{{post[0]}}" class="text-white bg-dark border rounded border-light p-2">
                Full Post / Replies</a>
            </div>
        </div>
        <div class="col-sm-9">
            <p class="h4">{{post[0]}} {{post[2]}}</p>
            <p class="h7">{{post[5]}}</p>
        </div>
    </div>

    {% endfor %}
</div>

<!--
        POST DISPLAY ENDS
    -->

{% endblock %}