{% extends 'base.html' %}

{% block title %}Rules - bWall{% endblock title %}

{% block content %}

<div class="row mt-sm-5">
    <div class="col-sm-5">
        <a href="/"><img src="../static/img/logo.svg" class="center img-fluid" /></a>
    </div>
    <div class="col-sm-7 mt-3">
        <h3 class="font-weight-bold">Rules</h3>
        <p class="">By using this website (the "site"), you agree that you'll follow these rules, and understand that if we reasonably think you haven't followed these rules, we may (at our own discretion) terminate your access to the site:</p>
    </div>
</div>

<div class="row mt-md-4">
    <div class="col-sm-12">
        <ol>
            <li>You will immediately cease and not continue to access the site if you are under the age of 18.</li>
            <li>You will not post any of the following outside of /b/:
                <ul>
                    <li>Troll posts</li>
                    <li>Racism</li>
                    <li>Anthropomorphic</li>
                    <li>Grotesque image</li>
                    <li>Loli/shota</li>
                    <li>Dubs or GET posts, including 'Roll for X' images</li>
                </ul>
            </li>
            <li>The quality of posts is extremely important to this community. Contributors are encouraged to provide high-quality
            images and informative comments.</li>
            <li>Submitting false or misclassified reports, or otherwise abusing the reporting system may result in a ban. Replying to a
            thread stating that you've reported or "saged" it, or another post, is also not allowed.</li>
            <li>Evading your ban will result in a permanent one.</li>
            <li>No spamming or flooding of any kind. No intentionally evading spam or post filters.</li>
            <li>Advertising (all forms) is not welcome—this includes any type of referral linking, "offers", soliciting, begging, stream
            threads, etc.</li>
            <li>Do not use avatars or attach signatures to your posts.</li>
            <li>The use of scrapers, bots, or other automated posting or downloading scripts is prohibited. Users may also not post from
            proxies, VPNs, or Tor exit nodes.</li>
            <li>Do not upload images containing additional data such as embedded sounds, documents, archives, etc.</li>
        </ol>
    </div>
</div>


{% endblock content %}